################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ChromeDriver/bin/Debug
/ChromeDriver/obj/Debug
/Data/bin/Debug
/Data/obj/Debug
/Femecon_2_0/bin
/Femecon_2_0/obj
/Femecon_2_0/packages
/ProgresoAutorizacion/bin/Debug
/ProgresoAutorizacion/obj/Debug
/RELEASES FINALES/Femecon 2.0.0
/Updater/obj
/Updater/bin
/Updater_installer/bin
/Updater_installer/obj/Debug
/Femecon_2_0/.vs/Femecon/v16
/Femecon/obj/Debug
/Femecon/bin/Debug
/Femecon/.vs/Femecon/v16
/Femecon/libs/Credenciales.cs
/Updater_installer/obj/Release
/Femecon/obj/Release
/Data/obj/Release
/ChromeDriver/obj/Release
/Femecon/packages
/libs/obj
/libs
/Femecon/.vs/Femecon/FileContentIndex/dc20c547-e1a7-4ded-a3b8-2ec306f76348.vsidx
/Femecon/.vs/Femecon/FileContentIndex/read.lock
/Femecon/.vs/Femecon/v17/.suo
/Femecon/.vs/Femecon/FileContentIndex/2dba4909-80ea-4d58-8a4b-d09f007c24bd.vsidx
/Femecon/.vs/Femecon/FileContentIndex/39ded2d4-057a-4820-a8f9-6f909ad0546b.vsidx
/Femecon/.vs/Femecon/FileContentIndex/781c040d-9f0c-4596-adbe-e0e5fe6a0a85.vsidx
/Femecon/.vs/Femecon/FileContentIndex/8044ecfa-6383-4d42-b4f3-33a27265b6ae.vsidx
/Femecon/.vs/Femecon/FileContentIndex/926081af-3b6e-465d-9087-776348701917.vsidx
/Femecon/.vs/Femecon/FileContentIndex/df9a60a9-fa3c-4cc1-9e1d-6c19d3515a71.vsidx
/Femecon/.vs/Femecon/FileContentIndex/d2807d63-2fac-4576-80bf-9ca1c83135dc.vsidx
/Femecon/.vs/Femecon/FileContentIndex/fa52866a-181a-460e-81af-1b789e2c7e9b.vsidx
*.cache
*.vsidx
/ControlAutorizaciones
